<div class="row" style="position: relative; max-width:62.5rem;margin-left:auto;margin-right: auto;">
	<div class="small-12 columns title-heading">
		<h1 class="bold">Browse Community 3D Models</h1>
	</div>
</div>
<table style="background: none;border:none;" align="center">
  <tbody><tr>
    <td><div>
		<input id="search" type="text" class="inputs" placeholder="Search 3D models" style="width: 270px;">
	</div> </td>
    <td><div>Community : </div></td> 
    <td>
	
		<input type="radio" id="radio1" name="radios" value="thingiverse" checked=""><label for="radio1">Thingiverse</label>
		<input type="radio" id="radio2" name="radios" value="tinkercad"><label for="radio2">Tinkercad</label>
		<input type="radio" id="radio3" name="radios" value="yobi3d"><label for="radio3">Yobi3d</label>
		<input type="radio" id="radio4" name="radios" value="Sketchfab"><label for="radio4">Sketchfab</label>
		<input type="radio" id="radio5" name="radios" value="Tf3Dm"><label for="radio5">Tf3Dm</label></td>
    <td>
	<div><a href="#browser" class="myButton" onclick="search_engine();">Search</a></div></td>
  </tr>
</tbody></table>
	<p id="test2">.</p>
<style>
input[type=radio], input[type=checkbox] {
  display: none;
}

input[type=radio] + label, input[type=checkbox] + label {
  display: inline-block;
  margin: -2px;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
  background-image: -o-linear-gradient(top,#fff,#e6e6e6);
  background-image: linear-gradient(to bottom,#fff,#e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  border-bottom-color: #b3b3b3;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0)
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

input[type=radio]:checked + label, input[type=checkbox]:checked + label {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  background-color: #e0e0e0;
}


.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 43px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}


.inputs {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #EAEAEA;
    background: -moz-linear-gradient(top, #FFF, #EAEAEA);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA));
    border: 1px solid #CACACA;
    color: #444;
    font-size: 1.4em;
    margin: 0 0 25px;
    padding: 5px 9px;
    width: 200px;
}

.inputs:focus {
    background: #FFF;
    -webkit-box-shadow: 0 0 25px #CCC;
    -moz-box-shadow: 0 0 25px #ccc;
    box-shadow: 0 0 25px #CCC;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
</style> 

<script language="JavaScript">
function search_engine()
{
	var x = document.getElementById("search").value;
	if(document.getElementById('radio1').checked) {
 		var y = 'http://www.thingiverse.com/search?q=';
	}else if(document.getElementById('radio2').checked) {
		var y = 'https://www.tinkercad.com/search/?q=';	
	}else if(document.getElementById('radio3').checked) {
                var y = 'https://www.yobi3d.com/#!/search?q=';
        }else if(document.getElementById('radio4').checked) {
                var y = 'https://sketchfab.com/models?q=';
	}else if(document.getElementById('radio5').checked) {
                var y = 'http://tf3dm.com/search/?printable=1&q=';
	};
	$("#test2").html('<div style="top:110px" align="center"><iframe src="'+y+x+'" frameBorder="0" width="1000" height="800"></iframe></div>');
};
</script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
</div>
