<div class="row" style="max-width:62.5rem;margin-left:auto;margin-right: auto;">
        <div class="small-12 columns title-heading">
                <h1 class="bold">Camera Viewer</h1>
        </div>
</div>
<div style="top:110px" align="center">
<script language="JavaScript">
document.write('<iframe src="' + window.location.protocol + '//' + window.location.hostname + ':8080' + window.location.pathname + 'camera.php" frameBorder="0" width="1050"  height="650"></iframe> ' );
</script>
</div>	
