#stlviewer {
	width: 565px;
	height: 565px;
	min-height: 300px;
	border: 1px solid black;
	border-radius: 10px; 
	border-color: #b6b6b6;
	border-style: solid;
    	border-width: 3px;
	margin-left: 420px;
	margin-top: 0px;
}

#message {
	color:grey;
}

.settings {
 	 color: grey;
	 position:absolute;
	 top:100;
	 left:955;
	 width:200px;
}
